# Virtual environment
.venv/
venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Environment variables file
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE specific files
.vscode/
.idea/

# MacOS specific files
.DS_Store

# Others
*.log

# .gitignore
secrets.toml

